extends layout.pug

block content
  table#results-table.table.table-striped
    thead
      tr
        th Naam
        th Geboren
        th Overleden
        th Geboorteplaats
    tbody
      each item in rows
        tr
          td=item.naam
          td=item.geboren
          td=item.overleden
          td=item.geboorteplaats